.ProjectsNavBtn {
  border:1px solid #7B4AE2;
  opacity:.6;
  width:161px;
  border-radius:16px;
  margin-right:27px;
  height:60px;
  display:flex;
  justify-content:left;
  align-items:center;
  font-weight:600;
  padding-left:10px;
  color:#7B4AE2;
  cursor: pointer;
  font-size:17px;
  transition:.2s;
}

.ProjectsNavBtn div {
  text-align:left;
}
.ProjectsNavBtn p {
  margin-left:7px;
}
.active {
  opacity:1;
  background:rgba(123, 74, 226, 0.16);
  color:rgb(89, 51, 172);
  border-color:transparent;  
}